.svg-nad-viewer-widget {
	border: 2px solid lightgrey;
	display: inline-block;
}

.invalid-lf .nad-edge-infos {
	opacity: 0.2;
}

.grayout :is(.nad-vl-nodes *, .nad-branch-edges *, .nad-text-edges *, .nad-text-nodes *, .nad-vl-nodes .nad-overvoltage *, .nad-vl-nodes .nad-undervoltage *, .nad-branch-edges .nad-overload .nad-edge-path *) {
	opacity: 0.9;
	--nad-vl-color: #7d7f7c;
	stroke: #7d7f7c;
	animation-play-state: paused;
}

.bend-lines-button-active {
	border: 2px solid orange !important;
}

.bend-lines-button-inactive {
	border: none !important;
}

.nad-line-point-preview {
    pointer-events: none;
}

.nad-line-point-preview rect {
    fill: rgba(255, 165, 0, 0.7);
    stroke: orange;
    stroke-width: 2;
}

#action-buttons-bars button, #zoom-buttons-bars button {
    border: none;
}

/* TODO: remove those 4 workaround rules when customStyle.css is fixed in powsybl-diagram */
g.nad-edge-infos g.nad-active path.nad-arrow-out {visibility: visible}
g.nad-edge-infos g.nad-active path.nad-arrow-in {visibility: visible}
svg > svg > g.nad-edge-infos > g > path.nad-arrow-out {visibility: visible}
svg > svg > g.nad-edge-infos > g > path.nad-arrow-in {visibility: visible}
