node_modules
.venv
dist

# Python
__pycache__
.ipynb_checkpoints

src/pypowsybl_jupyter/static
pypowsybl_jupyter/labextension
pypowsybl_jupyter/nbextension

# Intellij files
.idea/
*.iml

# Generated readthedocs pages
build-docs/
